<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Score</title>
  <th:block th:replace="~{/layout/layout::library}"></th:block>
</head>
<body>
<th:block th:replace="~{_header}"></th:block>
<h1 class="text-center text-primary mb-5">Bảng Điểm Thi</h1>

<table class="table table-striped table-bordered table-hover align-middle">
  <thead class="thead-dark bg-info text-white">
  <tr>
    <th scope="col" class="text-center">#</th>
    <th scope="col">Module</th>
    <th scope="col" class="text-center">Lý Thuyết</th>
    <th scope="col" class="text-center">Thực Hành</th>
    <th scope="col" class="text-center">Điểm Trung Bình</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="score, status : ${listScore}">
    <td th:text="${status.count}" class="text-center"></td>
    <td th:text="${score.moduleName}"></td>
    <td th:text="${score.theory}" class="text-center"></td>
    <td th:text="${score.practice}" class="text-center"></td>
    <td th:text="${(score.theory + score.practice) / 2}" class="text-center"></td>
  </tr>
  </tbody>
</table>

  <th:block th:replace="~{_footer}"></th:block>
</body>
</html>