<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Điểm Danh</title>
</head>
<body>
<h1>Danh sách điểm danh lớp: ${class.name} vào ngày: ${attendanceDate}</h1>

<table>
    <thead>
    <tr>
        <th>Họ tên</th>
        <th>Trạng thái</th>
        <th>Ghi chú</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="attendance : ${attendanceList}">
        <td th:text="${attendance.student.name}"></td>
        <td th:text="${attendance.status}"></td>
        <td th:text="${attendance.note}"></td>
    </tr>
    </tbody>
</table>

<a href="/employee/class/attendance/create?classId=${class.id}">Thêm điểm danh mới</a>
</body>
</html>
