<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Course</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Edit Course</h1>
    <form id="editCourseForm">
        <input type="hidden" id="id" name="id">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="duration">Duration:</label>
            <input type="text" id="duration" name="duration">
        </div>
        <button type="submit">Update Course</button>
    </form>
    <button id="cancelBtn">Cancel</button>

    <script th:inline="javascript">
        $(document).ready(function() {
            var courseId = /*[[${id}]]*/ '';

            $.ajax({
                url: '/api/courses/' + courseId,
                type: 'GET',
                success: function(course) {
                    $('#id').val(course.id);
                    $('#name').val(course.name);
                    $('#duration').val(course.duration);
                },
                error: function() {
                    alert('Error loading course data');
                }
            });

            $('#editCourseForm').submit(function(e) {
                e.preventDefault();
                var courseData = {
                    id: $('#id').val(),
                    name: $('#name').val(),
                    duration: $('#duration').val()
                };

                $.ajax({
                    url: '/api/courses/' + courseId,
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(courseData),
                    success: function(response) {
                        alert('Course updated successfully');
                        window.location.href = '/courses/' + courseId;
                    },
                    error: function() {
                        alert('Error updating course');
                    }
                });
            });

            $('#cancelBtn').click(function() {
                window.location.href = '/courses/' + courseId;
            });
        });
    </script>
</body>
</html>