<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Course List</h1>
    <table id="courseTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button id="createCourseBtn">Create New Course</button>

    <script>
        $(document).ready(function() {
            loadCourses();

            function loadCourses() {
                $.ajax({
                    url: '/api/courses',
                    type: 'GET',
                    success: function(courses) {
                        var tbody = $('#courseTable tbody');
                        tbody.empty();
                        $.each(courses, function(i, course) {
                            tbody.append(
                                '<tr>' +
                                '<td>' + course.id + '</td>' +
                                '<td>' + course.name + '</td>' +
                                '<td>' + course.duration + '</td>' +
                                '<td>' +
                                '<button class="viewBtn" data-id="' + course.id + '">View</button>' +
                                '<button class="editBtn" data-id="' + course.id + '">Edit</button>' +
                                '<button class="deleteBtn" data-id="' + course.id + '">Delete</button>' +
                                '</td>' +
                                '</tr>'
                            );
                        });
                    }
                });
            }

            $(document).on('click', '.viewBtn', function() {
                var id = $(this).data('id');
                window.location.href = '/courses/' + id;
            });

            $(document).on('click', '.editBtn', function() {
                var id = $(this).data('id');
                window.location.href = '/courses/edit/' + id;
            });

            $(document).on('click', '.deleteBtn', function() {
                var id = $(this).data('id');
                if (confirm('Are you sure you want to delete this course?')) {
                    $.ajax({
                        url: '/api/courses/' + id,
                        type: 'DELETE',
                        success: function() {
                            loadCourses();
                        }
                    });
                }
            });

            $('#createCourseBtn').click(function() {
                window.location.href = '/courses/create';
            });
        });
    </script>
</body>
</html>